button {
  width: 90px;
  height: 90px;
  margin: 1px;
  border: none;
  color: black;
  font-size: 20px;
  font-weight: 900;
}

button:focus {
  border: none;
  outline: none;
}

button:active {
  border: none;
  outline: none;
  background-color: #777;
}
