$screen-sm-min: 576px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

button {
  width: 80px;
  height: 80px;
  margin: 1px;
  border: none;
  color: black;
  font-size: 22px;
  font-weight: 900;
  font-family: inherit;
  border-radius: 3px;
  background-color: #e3e3e3;
  @include sm {
    width: 90px;
    height: 90px;
  }
}

button:focus {
  border: none;
  outline: none;
}

button:active {
  border: none;
  outline: none;
  background-color: #999;
}

#equals {
  width: 244px;
  @include sm {
    width: 274px;
  }
}

#equals,
#divide,
#multiply,
#add,
#subtract,
#decimal {
  background-color: rgb(28, 98, 158);
  color: white;
}

#equals:active,
#divide:active,
#multiply:active,
#add:active,
#subtract:active,
#decimal:active {
  background-color: rgb(147, 194, 236);
}

#clear {
  width: 162px;
  background-color: rgb(204, 51, 51);
  color: rgb(215, 215, 215);

  @include sm {
    width: 182px;
  }
}
#clear:active {
  background-color: rgb(248, 72, 72);
}
