$screen-sm-min: 576px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

#calculator {
  background-color: white;
  width: 100%;

  @include sm {
    margin-top: 50px;
  }
}
