$screen-sm-min: 576px;

@mixin sm {
  @media (min-width: #{$screen-sm-min}) {
    @content;
  }
}

#calculator {
  background-color: #333;
  width: 100%;
  height: 525px;
  border-radius: 10px;

  @include sm {
    height: 560px;
    margin-top: 50px;
  }
}
