#display__panel {
  margin-right: 25px;
  width: 95%;
  margin-left: 5px;
  margin-right: 10px;
}

#output-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  color: #eeaa33;
  font-size: 18px;
  padding: 0;
  width: 95%;
  height: 30px;
  border: none;
  outline: none;
  margin-left: 15px;
}
#input-display {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: #333;
  color: white;
  padding: 0;
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  font-size: 34px;
}
